doctype html 
html 
    head 
        title= title 
    body 
        - const fruit = "orange";

        case fruit 
            when 'apple'
                p 사과임
            when 'orange'
                p 오렌지임
            default 
                p 너는 뭐야?