{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>
            <input type="hidden" value="{{following.id}}" class="follow-id" />
            {{following.nick}}
            <button type="button" class="unfol">팔로우 끊기</button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  document.querySelectorAll('.unfol').forEach(function(btn){
    btn.addEventListener('click', function() {
      const unfolId = btn.parentNode.querySelector(".follow-id").value;
      if(unfolId) {
        axios.delete(`/user/${unfolId}/follow`)
          .then(() => {
            location.reload();
          })
          .catch((err) => {
            console.error(err);
          })
      }
    })
  });
</script>
{% endblock %}
